site_name: DATAIDEA Blog
site_description: DATAIDEA Blog - Learn Programming for Data Science
site_author: Juma Shafara
site_url: https://blog.dataidea.org

theme:
  name: material
  custom_dir: overrides
  logo: assets/logo.png
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.top
    - content.code.copy
    - search.suggest
    - search.highlight
  palette:
    - scheme: slate
      primary: grey
      accent: grey
  font:
    text: DM Sans
    code: DM Mono

extra_css:
  - stylesheets/custom.css

nav:
  - Home: https://www.dataidea.org
  - Blog: index.md
  - Free Course Resources: https://science.dataidea.org
  - Community: https://chat.whatsapp.com/GuCZRyJICgO3Y7MPvDQKhi
  - YouTube Channel: https://youtube.com/@dataideaorg
  - Contact Us: https://forms.gle/78rsKcCpGV2aoaZb6

copyright: Copyright &copy; 2025 DATAIDEA

extra:
  analytics:
    provider: google
    property: G-ZD84FCME05

plugins:
  - search
  - blog:
      blog_dir: .

markdown_extensions:
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.smartsymbols
  - toc:
      permalink: true
  - admonition
  - pymdownx.details


