site_name: DataIdea Blog
site_description: A modern blog built with MkDocs and Material theme
site_author: DataIdea
site_url: https://blog.dataidea.org

theme:
  name: material
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.top
    - content.code.copy
    - search.suggest
    - search.highlight
  palette:
    - scheme: slate
      primary: grey
      accent: grey
  font:
    text: DM Sans
    code: DM Mono
  custom_dir: docs

extra_css:
  - custom.css

plugins:
  - search
  - blog

markdown_extensions:
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.smartsymbols
  - toc:
      permalink: true

nav:
  - Blog: blog/index.md
